body {
    background-image: url(https://preview.redd.it/0bb6dqsiab451.gif?s=b0c65596a54a30708da26669da6e79abf3be1680);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #750371;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    height: 100vh;
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #d9ed00;
    justify-content: center;
    font-family: "DotGothic16";

    @media (max-width: 909px) {
        font-size: 0.9rem;
    }
    @media (max-width: 800px) {
        font-size: 0.8rem;
    }
    @media (max-width: 650px) {
        font-size: 0.7rem;
    }
    @media (max-width: 550px) {
        font-size: 0.5rem;
    }
}